<!DOCTYPE html>
<html>
<head>
    <title>tapigoninadd</title>
    <link href="css/main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <section class="section6">
        <div class="content1">
            <h2 class="grey64">Рынок</h2>
            <div class="moneyitems">
                <div class="moneyitem1">
                    <p>
                        <b><money>800+ млрд</money><currency> руб.</currency></b>
                    </p>
                    <i>Общий рынок</i>
                </div>
                <div class="moneyitem2">
                    <p>
                        <b><money>300+ млрд</money><currency> руб.</currency></b>
                    </p>
                    <i>Потенциальный рынок</i>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="moneyitem1">
                <p>
                    <b><money>5 млрд</money><currency> руб.</currency></b>
                </p>
            </div>
            <div class="target">
                <i>Наша цель в течение</i>
                <p>
                    <b>5 лет</b>
                </p>
            </div>
        </div>
    </section>

    <section class="section7">
        <content class="content1">
            <h2>Кто на рынке</h2>
            <p class="compans">Сбербанк Яндекс Авито VK МТС Тинькофф</p>
            <p class="text">
                Тапиго не является прямым конкурентом этих экосистем.
                Наша задача создать ценность для пользователя не только
                в крупных городах или центрах, но в большинстве своем и за
                их пределами.
                <br />
                <br />
                Как показывает практика в этом сегменте все очень плохо
                с точки зрения коммуникации сервисов и потребностей
                пользователей.
            </p>
        </content>
        <div class="figure">
            <div class="crucle">

            </div>
        </div>
    </section>

    <section class="section10">

        <h2>Цифры</h2>
        <content class="contentMain">
            <content class="content1">
                <ul>
                    <li>
                        <h6>Авито</h6>
                        <p>
                            По итогам 2022 года выручка составила 64,4 млрд.
                            руб
                        </p>
                    </li>
                    <li>
                        <h6>Яндекс</h6>
                        <p>
                            По итогам 2022 года сервис обьявлений заработал
                            12,3
                        </p>
                    </li>
                    <li>
                        <h6>ЮЛА</h6>
                        <p>
                            По итогам 2022 года выручка была от 4 до 5 млрд.
                            руб
                        </p>
                    </li>
                    <li>
                        <h6>CIAN</h6>
                        <p>
                            По итогам 2022 года выручка была 8,27 млрд. руб.
                            По итогам 2021 года 1/5 рынка.
                        </p>
                    </li>
                </ul>
            </content>
            <content class="content2">
                <ul>
                    <li>
                        <h6>HH</h6>
                        <p>
                            По итогам 2022 года выручка была 18,1 млрд. руб.
                            По итогам 2021 — 14,8 млрд. руб.
                        </p>
                    </li>
                </ul>
                <div class="blocktarget">
                    <div>
                        <p class="target">
                            <b>Наша цель</b>
                        </p>
                        <b><money>5 млрд</money><currency> руб.</currency></b>
                        <p>
                            <i><b>за 5 лет</b></i>
                        </p>
                    </div>
                </div>
            </content>
        </content>

    </section>

    <section class="section11">
        <h2>Экосистема</h2>
        <content class="contentMain">
            <content class="content1">
                <div class="crucle-block">
                    <p class="crucle-blye"></p>
                    <p class="text">Тапиго</p>
                </div>
                <div class="radius-blye">
                    <p class="text">Пользователь</p>
                </div>
            </content>
            <content class="content2">
                <ul>
                    <li>Единый цифровой профиль пользователя</li>
                    <li>Создание запросов на поиск заказчика</li>
                    <li>Группы специалистов по сегментам рынка</li>
                    <li>Каталог обьявлений <li>
                    <li>Недвижимость и новостройки</li>
                    <li>Поиск исполнителя</li>
                    <li>Вакансии и резюме</li>
                    <li>Авиабилеты и гостиницы</li>
                    <li>Собственный блог для своих мыслей</li>
                    <li>Журнал для для отдыха и приятного чтения</li>
                    <li>Ветеринарный сервис</li>
                    <li>Поиск клиники и лечащего врача</li>
                </ul>
            </content>
        </content>
    </section>
</body>
</html>